## 综合样例：
1. buy_record.xlsx文件中有商品号no、商品名name、类别category、库存storage、订购量order等信息，buy_price.xlsx文件有no、商品价格price，请将两文件中的数据按no合并，保存在df_all中
2. 筛选各类别的商品数据，并将结果（不要索引index=False）保存至各文件中，文件名为 “类别.xlsx”。例如，

    category是调料的数据，保存至“调料.xlsx”
    
    category是奶类的数据，保存至“奶类.xlsx”

In [3]:
#读入buy_record.xlsx中的数据，保存在数据框df1中
import pandas as pd
df1=pd.read_excel(r'.\buy_record.xlsx',usecols=['no','name','category','storage','order'])
df1

    no  name category  storage  order
0    1   苹果汁       饮料       39     12
1    2    牛奶       奶类       17     40
2    3   蕃茄酱       调料       13     70
3    4     盐       调料       53     41
4    5    麻油       粮油        0     65
..  ..   ...      ...      ...    ...
72  73   海哲皮       海鲜      101     40
73  74    鸡精       调料        4     20
74  75  浓缩咖啡       饮料      125      0
75  76   柠檬汁       饮料       57      0
76  77   辣椒粉       调料       32      0

[77 rows x 5 columns]

In [4]:
#读入buy_price.xlsx中的数据，保存在数据框df2中
df2=pd.read_excel(r'.\buy_price.xlsx',usecols=['no','price'])
df2

    no  price
0    1   18.0
1    2   39.0
2    3   10.0
3    4   22.0
4    5   21.4
..  ..    ...
72  73   15.0
73  74   10.0
74  75    7.8
75  76   18.0
76  77   13.0

[77 rows x 2 columns]

In [5]:
#将两文件中的数据按no号合并，保存在df_all中
df_all=pd.merge(left=df1,right=df2,how='inner',on='no')
df_all

    no  name category  storage  order  price
0    1   苹果汁       饮料       39     12   18.0
1    2    牛奶       奶类       17     40   39.0
2    3   蕃茄酱       调料       13     70   10.0
3    4     盐       调料       53     41   22.0
4    5    麻油       粮油        0     65   21.4
..  ..   ...      ...      ...    ...    ...
72  73   海哲皮       海鲜      101     40   15.0
73  74    鸡精       调料        4     20   10.0
74  75  浓缩咖啡       饮料      125      0    7.8
75  76   柠檬汁       饮料       57      0   18.0
76  77   辣椒粉       调料       32      0   13.0

[77 rows x 6 columns]

In [10]:
#取出数据表中所有类别名
cate_set=set(df_all['category'])
cate_set

{'奶类', '海鲜', '粮油', '肉食', '调料', '零食', '饮料'}

In [17]:
#筛选各类别的商品数据，并将结果保存至各文件中，文件名为 “类别.xlsx”
for i in cate_set:
    temp=df_all[df_all['category']==i]
    temp.to_excel(i+'.xlsx')
    print(temp)

    no  name category  storage  order  price
0    1   苹果汁       饮料       39     12   18.0
23  24    汽水       饮料       20     22    4.5
33  34    啤酒       饮料      111     60   14.0
34  35   蜜桃汁       饮料       20     31   18.0
37  38    绿茶       饮料       17     30  263.5
38  39  运动饮料       饮料       69     85   18.0
42  43   柳橙汁       饮料       17     10   46.0
66  67   矿泉水       饮料       52      0   14.0
69  70   苏打水       饮料       15     10   15.0
74  75  浓缩咖啡       饮料      125      0    7.8
75  76   柠檬汁       饮料       57      0   18.0
    no name category  storage  order  price
2    3  蕃茄酱       调料       13     70   10.0
3    4    盐       调料       53     41   22.0
5    6   酱油       调料      120     53   25.0
6    7  海鲜粉       调料       15     25   38.0
7    8  胡椒粉       调料        6     20   40.0
13  14   沙茶       调料       35     33   23.3
14  15   味精       调料       39     35   15.5
27  28  烤肉酱       调料       26     27   45.6
43  44   蚝油       调料       27     90   19.5
60  61  海鲜酱       调料      113    125   28.5
62  63  甜辣酱       调料       24     31   43.9
64  65  海苔酱       调料       76     99   21.1
73  74   鸡精       调料        4     20   10.0
76  77  辣椒粉       调料       32      0   13.0
    no name category  storage  order  price
15  16   饼干       零食       29     84   17.5
18  19   糖果       零食       25     56    9.2
19  20  桂花糕       零食       40     75   81.0
20  21   花生       零食        3     40   15.0
24  25  巧克力       零食       76     11   14.0
25  26  棉花糖       零食       15     24   31.2
26  27  牛肉干       零食       49     26   43.9
46  47   蛋糕       零食       36     80    9.5
47  48  玉米片       零食       15     15   12.8
48  49   薯条       零食       10     60   20.0
49  50  玉米饼       零食       65     74   16.3
50  51  猪肉干       零食       20     63   53.0
61  62  山渣片       零食       17     42   49.3
65  66   肉松       零食        4    100   17.0
67  68  绿豆糕       零食        6     10   12.5
    no   name category  storage  order  price
4    5     麻油       粮油        0     65   21.4
21  22     糯米       粮油      104     61   21.0
22  23     燕麦       粮油       61     75    9.0
41  42     糙米       粮油       26     30   14.0
51  52  三合一麦片       粮油       38     11    7.0
55  56     白米       粮油       21     10   38.0
56  57     小米       粮油       36     16   19.5
63  64     黄豆       粮油       22     80   33.3
    no name category  storage  order  price
9   10    蟹       海鲜       31     14   31.0
12  13   龙虾       海鲜       24     64    6.0
17  18   墨鱼       海鲜       42     75   62.5
29  30   黄鱼       海鲜       10     80   25.9
35  36   鱿鱼       海鲜      112     30   19.0
36  37   干贝       海鲜       11     50   26.0
39  40   虾米       海鲜      123     32   18.4
40  41   虾子       海鲜       85     55    9.7
44  45   雪鱼       海鲜        5     70    9.5
45  46    蚵       海鲜       95     50   12.0
57  58   海参       海鲜       62     60   13.3
72  73  海哲皮       海鲜      101     40   15.0
    no name category  storage  order  price
8    9    鸡       肉食       29     12   97.0
16  17   猪肉       肉食        0     99   39.0
28  29   鸭肉       肉食        0     22  123.8
52  53  盐水鸭       肉食        0     63   32.8
53  54   鸡肉       肉食       21     15    7.5
54  55   鸭肉       肉食      115     58   24.0
    no   name category  storage  order  price
1    2     牛奶       奶类       17     40   39.0
10  11   民众奶酪       奶类       22     30   21.0
11  12   德国奶酪       奶类       86     20   38.0
30  31   温馨奶酪       奶类        0     70   12.5
31  32    白奶酪       奶类        9     40   32.0
32  33   浪花奶酪       奶类      112     90    2.5
58  59   苏澳奶酪       奶类       79     81   55.0
59  60    花奶酪       奶类       19     51   34.0
68  69    黑奶酪       奶类       26      0   36.0
70  71  义大利奶酪       奶类       26     92   21.5
71  72    酸奶酪       奶类       14      0   34.8