#### 例题：准备数据：读入产品订购表.csv 的数据。

In [2]:
import pandas as pd
df=pd.read_csv(r".\产品订购表_预处理.csv",encoding='ANSI')
df.head()

   产品号 产品名称 商品类别   单位数量       生产日期   库存量    单价   订购量     订购款
0  1.0  苹果汁   饮料  每箱24瓶  2022/1/13  39.0  18.0  12.0   216.0
1  2.0   牛奶   奶类  每箱24瓶  2023/2/10  17.0  39.0  40.0  1560.0
2  3.0  蕃茄酱   调料  每箱12瓶  2023/3/12  13.0  10.0  70.0   700.0
3  4.0    盐   调料    NaN  2019/2/11  53.0  22.0  41.0   902.0
4  5.0   麻油   粮油  每箱12瓶   2022/3/7   0.0  21.4  65.0  1387.8

# 一、处理缺失值
###  (1)查询缺失值
#### 获取列与特定值匹配的行的索引:
    info与isnull方法    
###  (2)删除缺失值
    DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False) 
###  (3)填充缺失值
    DataFrame.fillna(value, axis=0, method, limit,inplace=False)       
         说明 ：method='ffill'表示前向填充， method='bfill'表示后向填充，以后的版本可能不支持method参数
    DataFrame.ffill(value, axis=0, limit,inplace=False)     #前一行的值来填充当前行的缺失值。
    DataFrame.bfill(value, axis=0, limit,inplace=False)    #后一行的值来填充当前行的缺失值。

#### 例1-1 查看空值情况

In [2]:
#查看各列空值个数
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 9 columns):
产品号     81 non-null float64
产品名称    81 non-null object
商品类别    82 non-null object
单位数量    78 non-null object
生产日期    83 non-null object
库存量     82 non-null float64
单价      82 non-null float64
订购量     82 non-null float64
订购款     82 non-null float64
dtypes: float64(5), object(4)
memory usage: 5.9+ KB

In [3]:
#查看有空值的字段
df.isnull().any()          #结果显示：仅 “生产日期”列没有空值

产品号      True
产品名称     True
商品类别     True
单位数量     True
生产日期    False
库存量      True
单价       True
订购量      True
订购款      True
dtype: bool

In [4]:
#查看“单位数量”的空值
df[df["单位数量"].isnull()]

     产品号 产品名称 商品类别 单位数量       生产日期   库存量     单价   订购量     订购款
3    4.0    盐   调料  NaN  2019/2/11  53.0   22.0  41.0   902.0
7    8.0  NaN   调料  NaN  2019/1/21   6.0   40.0  20.0   800.0
17  18.0   墨鱼   海鲜  NaN  2022/3/17  42.0   62.5  75.0  4687.5
26   NaN  NaN  NaN  NaN  2023/1/27   NaN    NaN   NaN     NaN
28  29.0   鸭肉   肉食  NaN  2023/1/23   0.0  123.8  22.0  2723.4

#### 例1-2 删除空值

In [5]:
#删除有空值的行
df_0=df.dropna( )
df_0.isnull().any()      #结果显示df_0的所有列已没有空值

产品号     False
产品名称    False
商品类别    False
单位数量    False
生产日期    False
库存量     False
单价      False
订购量     False
订购款     False
dtype: bool

In [6]:
#删除有空值的列
df_1=df.dropna(axis=1) 
df_1.head()

        生产日期
0  2022/1/13
1  2023/2/10
2  2023/3/12
3  2019/2/11
4   2022/3/7

In [7]:
#复制产品销售数据框至df_c，原地删除df_c中的空值
df_c=df.copy()                           
df_c.dropna(how="any",inplace=True)                #原地操作，删除空值的行

df_c.head(10)                       #df_c改变

     产品号  产品名称 商品类别    单位数量        生产日期    库存量    单价   订购量     订购款
0    1.0   苹果汁   饮料   每箱24瓶   2022/1/13   39.0  18.0  12.0   216.0
1    2.0    牛奶   奶类   每箱24瓶   2023/2/10   17.0  39.0  40.0  1560.0
2    3.0   蕃茄酱   调料   每箱12瓶   2023/3/12   13.0  10.0  70.0   700.0
4    5.0    麻油   粮油   每箱12瓶    2022/3/7    0.0  21.4  65.0  1387.8
5    6.0    酱油   调料   每箱12瓶   2023/2/23  120.0  25.0  53.0  1325.0
8    9.0     鸡   肉食  每袋500克   2023/1/13   29.0  97.0  12.0  1164.0
9   10.0     蟹   海鲜  每袋500克  2022/12/15   31.0  31.0  14.0   434.0
10  11.0  民众奶酪   奶类    每袋6包   2022/1/31   22.0  21.0  30.0   630.0
11  12.0  德国奶酪   奶类   每箱12瓶   2022/1/21   86.0  38.0  20.0   760.0
12  13.0    龙虾   海鲜  每袋500克    2022/3/6   24.0  -6.0  64.0   384.0

#### 例1-3 填充值

In [8]:
df_f1=df.copy()

#查看 商品类别 为空值的记录
df_f1[df_f1["商品类别"].isnull()]

    产品号 产品名称 商品类别 单位数量       生产日期  库存量  单价  订购量  订购款
26  NaN  NaN  NaN  NaN  2023/1/27  NaN NaN  NaN  NaN

In [20]:
#求 商品类别 的众数，用众数填充 商品类别 空值
#求 单价的均值，用均值填充 单价的空值
a=df_f1['商品类别'].mode()
print("商品类别的众数是：\n",a)                                          #注意：众数可能有很多个，非一个数值

b=df_f1['单价'].mean()
print("单价均值是：\n",b)

商品类别的众数是：
 0    奶类
dtype: object
单价均值是：
 28.748780487804883

In [22]:
f_dict={"商品类别":a[0],"单价":b}                  #填充字典

df_f1.fillna(value=f_dict,inplace=True)             #填充

print("填充后26号数据：\n" ) 
df_f1.iloc[[26]]                                  #查看第26条记录，填充结果

填充后26号数据：

    产品号 产品名称 商品类别 单位数量       生产日期  库存量        单价  订购量  订购款
26  NaN  NaN   奶类  NaN  2023/1/27  NaN  28.74878  NaN  NaN

# 二、处理异常值
### (1) 删除异常值
    df.drop(index,inplace)     :删除指定索引的记录
### (2) 替换异常值
    df.loc(行、列或布尔索引)=新值

#### 例2-1 发现异常值

In [26]:
df_2=df.copy()

pd.set_option('display.float_format', lambda x: '%.1f' % x)             #设置describe的显示格式

#根据统计信息，查看异常值情况
df_2.describe()               #可发现 单价 存在负值

       产品号   库存量    单价   订购量    订购款
count 81.0  82.0  82.0  82.0   82.0
mean  40.1  39.1  28.7  44.2 1216.8
std   22.7  35.3  32.9  29.7 1364.1
min    1.0   0.0  -6.0   0.0    0.0
25%   20.0  15.5  14.0  20.0  423.5
50%   41.0  25.5  21.0  40.0  763.6
75%   60.0  56.0  34.0  64.8 1552.5
max   77.0 125.0 263.5 125.0 7905.0

#### 例 2-2 将单价小于0的记录删除

In [27]:
err_index=df_2[df_2.单价<0].index                  #索引
df_2.drop(index=err_index,inplace=True)           #drop(index,inplace) 删除指定索引的记录
df_2.describe()                              #单价小于0的记录已删除

       产品号   库存量    单价   订购量    订购款
count 80.0  81.0  81.0  81.0   81.0
mean  40.4  39.2  29.2  44.0 1227.1
std   22.6  35.5  32.9  29.8 1369.4
min    1.0   0.0   2.5   0.0    0.0
25%   20.8  15.0  14.0  20.0  434.0
50%   41.5  26.0  21.0  40.0  767.3
75%   60.0  57.0  34.0  65.0 1560.0
max   77.0 125.0 263.5 125.0 7905.0

#### 例 2-3 将小于0的单价替换为单价平均值

In [28]:
df_3=df.copy()
idx=df_3[ df_3['单价']<0 ].index                       #小于0的行索引

df_3.loc[ df_3['单价']<0,"单价" ]= df_3['单价'].mean(0) 
df_3.iloc[idx,]                                          #查看结果

    产品号 产品名称 商品类别    单位数量      生产日期  库存量   单价  订购量   订购款
12 13.0   龙虾   海鲜  每袋500克  2022/3/6 24.0 28.7 64.0 384.0

# 三、处理重复值
### (1) 查找重复值
    df.duplicated(subset,keep)
        subset设置按哪些字段判断是重复记录，默认按所有字段值都相同的记录为重复记录
        keep=False：重复记录标记为True
        keep="first"：第一条重复记录标记为False
        keep="last"：最后一条重复记录标记为False
### (2) 删除重复记录
    df.drop_duplicates(subset,keep,inplace)
        keep=False：删除所有重复记录
        keep="first"：删除重复时用于保留第一条
        keep="last"：删除重复时用于保留最后一条

In [29]:
df_3=df.copy()

In [30]:
#显示重复记录
df_3[ df_3.duplicated(keep=False) ]     #所有字段相同为重复，keep=False表示重复记录标记为True，显示True的记录

    产品号  产品名称 商品类别   单位数量       生产日期  库存量   单价  订购量    订购款
10 11.0  民众奶酪   奶类   每袋6包  2022/1/31 22.0 21.0 30.0  630.0
59 60.0   花奶酪   奶类  每箱24瓶  2022/7/21 19.0 34.0 51.0 1734.0
76 77.0   辣椒粉   调料  每袋3公斤   2023/1/1 32.0 13.0  0.0    0.0
77 77.0   辣椒粉   调料  每袋3公斤   2023/1/1 32.0 13.0  0.0    0.0
78 11.0  民众奶酪   奶类   每袋6包  2022/1/31 22.0 21.0 30.0  630.0
79 60.0   花奶酪   奶类  每箱24瓶  2022/7/21 19.0 34.0 51.0 1734.0
80 60.0   花奶酪   奶类  每箱24瓶  2022/7/21 19.0 34.0 51.0 1734.0
81 60.0   花奶酪   奶类  每箱24瓶  2022/7/21 19.0 34.0 51.0 1734.0
82 11.0  民众奶酪   奶类   每袋6包  2022/1/31 22.0 21.0 30.0  630.0

In [31]:
# 显示重复记录，不包括最后一条重复记录
df_3[df_3.duplicated(keep="last")]

    产品号  产品名称 商品类别   单位数量       生产日期  库存量   单价  订购量    订购款
10 11.0  民众奶酪   奶类   每袋6包  2022/1/31 22.0 21.0 30.0  630.0
59 60.0   花奶酪   奶类  每箱24瓶  2022/7/21 19.0 34.0 51.0 1734.0
76 77.0   辣椒粉   调料  每袋3公斤   2023/1/1 32.0 13.0  0.0    0.0
78 11.0  民众奶酪   奶类   每袋6包  2022/1/31 22.0 21.0 30.0  630.0
79 60.0   花奶酪   奶类  每箱24瓶  2022/7/21 19.0 34.0 51.0 1734.0
80 60.0   花奶酪   奶类  每箱24瓶  2022/7/21 19.0 34.0 51.0 1734.0

#### 例2-2 删除重复记录，保留重复记录中的第一条

In [ ]:
df_3.drop_duplicates(keep="first")

#  四、数据加工
### (1) 拆分字段
    一个字段分为多个字段。 例如，日期型字段拆分为年、月、日
### (2) 抽取字段
    字段抽取：抽取字段中部分信息。 例如，单位数量 字段中 单位
### (3)字段合并
    多个字段合为一个。 例如，年、月、日生成一个 日期 新字段

In [4]:
import pandas as pd
data=pd.read_csv(r".\产品订购表_预处理.csv",encoding='ANSI')
data.info()              #注意：日期字段读入后是字符串对象，不是datetime型

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   产品号     81 non-null     float64
 1   产品名称    81 non-null     object
 2   商品类别    82 non-null     object
 3   单位数量    78 non-null     object
 4   生产日期    83 non-null     object
 5   库存量     82 non-null     float64
 6   单价      82 non-null     float64
 7   订购量     82 non-null     float64
 8   订购款     82 non-null     float64
dtypes: float64(5), object(4)
memory usage: 6.0+ KB

#### 例4-1  从  生产日期 字段抽取 信息 构造 新3个字段 年 、 月 、 日

In [9]:
data['生产日期']=pd.to_datetime(data['生产日期'])              #将生产日期字段转为日期时间型
import datetime as dt                                    #导入datatime模块，使用取年、月、日
#.dt 是 Pandas 提供的一个访问器，用于操作 datetime64 类型的列。它提供了许多有用的属性和方法

In [6]:
data['年']=data['生产日期'].dt.year                      #增加“年”字段
data.head()

   产品号 产品名称 商品类别   单位数量       生产日期   库存量    单价   订购量     订购款     年
0  1.0  苹果汁   饮料  每箱24瓶 2022-01-13  39.0  18.0  12.0   216.0  2022
1  2.0   牛奶   奶类  每箱24瓶 2023-02-10  17.0  39.0  40.0  1560.0  2023
2  3.0  蕃茄酱   调料  每箱12瓶 2023-03-12  13.0  10.0  70.0   700.0  2023
3  4.0    盐   调料    NaN 2019-02-11  53.0  22.0  41.0   902.0  2019
4  5.0   麻油   粮油  每箱12瓶 2022-03-07   0.0  21.4  65.0  1387.8  2022

In [7]:
data['月']=data['生产日期'].dt.month                  #增加“月”字段
data['日']=data['生产日期'].dt.day                    #增加“日”字段
data.head()

   产品号 产品名称 商品类别   单位数量       生产日期   库存量    单价   订购量     订购款     年  月   日
0  1.0  苹果汁   饮料  每箱24瓶 2022-01-13  39.0  18.0  12.0   216.0  2022  1  13
1  2.0   牛奶   奶类  每箱24瓶 2023-02-10  17.0  39.0  40.0  1560.0  2023  2  10
2  3.0  蕃茄酱   调料  每箱12瓶 2023-03-12  13.0  10.0  70.0   700.0  2023  3  12
3  4.0    盐   调料    NaN 2019-02-11  53.0  22.0  41.0   902.0  2019  2  11
4  5.0   麻油   粮油  每箱12瓶 2022-03-07   0.0  21.4  65.0  1387.8  2022  3   7

####  例4-2  构造新字段 “单位” ，值是“单位数量”字段的第2个字符

In [10]:
#.str 是 Pandas 提供的一个访问器，用于对字符串类型的列进行操作，但它需要配合具体的方法或属性来完成任务。
data['单位']=data['单位数量'].str[1:2]      #先获取series的str属性，则可再在属性上使用字符串操作（包括方法）
data.head()

   产品号 产品名称 商品类别   单位数量       生产日期   库存量    单价   订购量     订购款     年  月   日   单位
0  1.0  苹果汁   饮料  每箱24瓶 2022-01-13  39.0  18.0  12.0   216.0  2022  1  13    箱
1  2.0   牛奶   奶类  每箱24瓶 2023-02-10  17.0  39.0  40.0  1560.0  2023  2  10    箱
2  3.0  蕃茄酱   调料  每箱12瓶 2023-03-12  13.0  10.0  70.0   700.0  2023  3  12    箱
3  4.0    盐   调料    NaN 2019-02-11  53.0  22.0  41.0   902.0  2019  2  11  NaN
4  5.0   麻油   粮油  每箱12瓶 2022-03-07   0.0  21.4  65.0  1387.8  2022  3   7    箱

####  例4-3  删除“生产日期”字段，构造新字段 “日期” ，值来源于 年、月、日字段

In [11]:
data['年'].dtype                          # dtype查看 年 字段的类型为int型

dtype('int32')

In [18]:
data.drop("生产日期",axis=1,inplace=True)
data

     产品号  产品名称 商品类别   单位数量   库存量    单价   订购量     订购款     年  月   日   单位
0    1.0   苹果汁   饮料  每箱24瓶  39.0  18.0  12.0   216.0  2022  1  13    箱
1    2.0    牛奶   奶类  每箱24瓶  17.0  39.0  40.0  1560.0  2023  2  10    箱
2    3.0   蕃茄酱   调料  每箱12瓶  13.0  10.0  70.0   700.0  2023  3  12    箱
3    4.0     盐   调料    NaN  53.0  22.0  41.0   902.0  2019  2  11  NaN
4    5.0    麻油   粮油  每箱12瓶   0.0  21.4  65.0  1387.8  2022  3   7    箱
..   ...   ...  ...    ...   ...   ...   ...     ...   ... ..  ..  ...
78  11.0  民众奶酪   奶类   每袋6包  22.0  21.0  30.0   630.0  2022  1  31    袋
79  60.0   花奶酪   奶类  每箱24瓶  19.0  34.0  51.0  1734.0  2022  7  21    箱
80  60.0   花奶酪   奶类  每箱24瓶  19.0  34.0  51.0  1734.0  2022  7  21    箱
81  60.0   花奶酪   奶类  每箱24瓶  19.0  34.0  51.0  1734.0  2022  7  21    箱
82  11.0  民众奶酪   奶类   每袋6包  22.0  21.0  30.0   630.0  2022  1  31    袋

[83 rows x 12 columns]

In [19]:
data['日期']=data['年'].astype(str)+'/'+data['月'].astype(str)+'/'+data['日'].astype(str)  #astype将数据类型转换为指定的类型
data.head()

   产品号 产品名称 商品类别   单位数量   库存量    单价   订购量     订购款     年  月   日   单位         日期
0  1.0  苹果汁   饮料  每箱24瓶  39.0  18.0  12.0   216.0  2022  1  13    箱  2022/1/13
1  2.0   牛奶   奶类  每箱24瓶  17.0  39.0  40.0  1560.0  2023  2  10    箱  2023/2/10
2  3.0  蕃茄酱   调料  每箱12瓶  13.0  10.0  70.0   700.0  2023  3  12    箱  2023/3/12
3  4.0    盐   调料    NaN  53.0  22.0  41.0   902.0  2019  2  11  NaN  2019/2/11
4  5.0   麻油   粮油  每箱12瓶   0.0  21.4  65.0  1387.8  2022  3   7    箱   2022/3/7

In [25]:
#将data存入 产品.csv 文件中，编码采用gbk 格式，请查看没有乱码
data.to_csv(r"./产品.csv",encoding='gbk')