# 一、从文件中读入数据至数据框
### (1) 导入 excel文件中的数据
    pandas.read_excel( filepath )
### (2) 导入 txt     文件中的数据
    pandas.read_table( filepath, sep=’\t’, encoding=None)

### (3) 导入 csv   文件中的数据
    pandas.read_csv( filepath, engine=None , encoding=None, sep=‘,’)

#### 例1-1 读入excel文件“产品订购表.xlsx”的数据，设置"产品名称"为行索引

In [1]:
import pandas as pd

In [3]:
#df1=pd.read_excel(r".\产品订购表.xlsx",index_col=1)            #第1列("产品名称")作为行索引
df1=pd.read_excel(r".\产品订购表.xlsx",index_col="产品名称")    #"产品名称"列作为行索引
df1.head()                                                #head()查看前5条记录
#df1.tail()                            #tail()查看最后5条记录，tail(n)最后n条

      产品号 商品类别   单位数量       生产日期  库存量     单价  订购量      订购款
产品名称
苹果汁     1   饮料  每箱24瓶 2022-01-13   39  18.00   12   216.00
牛奶      2   奶类  每箱24瓶 2023-02-10   17  39.00   40  1560.00
蕃茄酱     3   调料  每箱12瓶 2023-03-12   13  10.00   70   700.00
盐       4   调料  每箱12瓶 2019-02-11   53  22.00   41   902.00
麻油      5   粮油  每箱12瓶 2022-03-07    0  21.35   65  1387.75

#### 例1-2 读入excel文件“产品订购表.xlsx”的数据，不设置行索引

In [4]:
df2=pd.read_excel(r".\产品订购表.xlsx")      #默认的行位置索引，0开始
df2.head()

   产品号 产品名称 商品类别   单位数量       生产日期  库存量     单价  订购量      订购款
0    1  苹果汁   饮料  每箱24瓶 2022-01-13   39  18.00   12   216.00
1    2   牛奶   奶类  每箱24瓶 2023-02-10   17  39.00   40  1560.00
2    3  蕃茄酱   调料  每箱12瓶 2023-03-12   13  10.00   70   700.00
3    4    盐   调料  每箱12瓶 2019-02-11   53  22.00   41   902.00
4    5   麻油   粮油  每箱12瓶 2022-03-07    0  21.35   65  1387.75

#### 例1-3 只读取产品名称、生产日期、单价字段

In [5]:
#df3=pd.read_excel(r".\产品订购表.xlsx",usecols=[1,4,6])   #列序号从0开始计算
df3=pd.read_excel(r".\产品订购表.xlsx",usecols=["产品名称","生产日期","单价"])
df3.head()

  产品名称       生产日期     单价
0  苹果汁 2022-01-13  18.00
1   牛奶 2023-02-10  39.00
2  蕃茄酱 2023-03-12  10.00
3    盐 2019-02-11  22.00
4   麻油 2022-03-07  21.35

#### 例1-4  读取 “产品订购表.txt” 的数据，注意文件的编码

In [6]:
df4=pd.read_table(r".\产品订购表.txt",encoding='utf-16')      #文件是'utf-16'编码
df4.head()

   产品号 产品名称 商品类别   单位数量       生产日期  库存量    单价  订购量     订购款
0    1  苹果汁   饮料  每箱24瓶  2022/1/13   39  18.0   12   216.0
1    2   牛奶   奶类  每箱24瓶  2022/2/10   17  39.0   40  1560.0
2    3  蕃茄酱   调料  每箱12瓶  2022/3/12   13  10.0   70   700.0
3    4    盐   调料  每箱12瓶  2022/2/11   53  22.0   41   902.0
4    5   麻油   粮油  每箱12瓶   2022/3/7    0  21.4   65  1387.8

#### 例1-5  读取 “buy_record.csv” 的数据

In [7]:
df5=pd.read_csv(r".\buy_record.csv",encoding='ANSI')      #该函数要求filepath是英文，注意该文件的编码方式
df5.head()

,no,name,category,unit quantity,date of manufacture,storage,price,order,amount
0,1,苹果汁,饮料,每箱24瓶,2022/1/13,39,18.0,12,216.0
1,2,牛奶,奶类,每箱24瓶,2022/2/10,17,39.0,40,1560.0
2,3,蕃茄酱,调料,每箱12瓶,2022/3/12,13,10.0,70,700.0
3,4,盐,调料,每箱12瓶,2022/2/11,53,22.0,41,902.0
4,5,麻油,粮油,每箱12瓶,2022/3/7,0,21.4,65,1387.8

#### 例1-6  读取 “产品订购表.csv” 的数据，注意中文文件名与编码的处理

In [8]:
#调用pandas的read_csv()方法时，engine的值为" c"(默认)引擎或" python"引擎，表示解析器的编写语言。
#某些情况下，'c'更快，而'python'功能更完备，例如，'python'支持灵活的sep，而'c'不支持；

df6=pd.read_csv(r".\产品订购表.csv",engine="python",encoding='ANSI')    #可以用记事本查看文件的encoding及分隔符
df6.head()

   产品号 产品名称 商品类别   单位数量       生产日期  库存量    单价  订购量     订购款
0    1  苹果汁   饮料  每箱24瓶  2022/1/13   39  18.0   12   216.0
1    2   牛奶   奶类  每箱24瓶  2023/2/10   17  39.0   40  1560.0
2    3  蕃茄酱   调料  每箱12瓶  2023/3/12   13  10.0   70   700.0
3    4    盐   调料  每箱12瓶  2019/2/11   53  22.0   41   902.0
4    5   麻油   粮油  每箱12瓶   2022/3/7    0  21.4   65  1387.8

In [9]:
#例6-2 读取 “产品订购表2.csv” 的数据，注意：各列以#分隔
df6=pd.read_csv(r".\产品订购表2.csv",engine="c",encoding='ANSI',sep='#')    #可以用记事本查看文件的encoding及分隔符
df6.head()

   产品号 产品名称 商品类别   单位数量       生产日期  库存量    单价  订购量     订购款
0    1  苹果汁   饮料  每箱24瓶  2022/1/13   39  18.0   12   216.0
1    2   牛奶   奶类  每箱24瓶  2023/2/10   17  39.0   40  1560.0
2    3  蕃茄酱   调料  每箱12瓶  2023/3/12   13  10.0   70   700.0
3    4    盐   调料  每箱12瓶  2019/2/11   53  22.0   41   902.0
4    5   麻油   粮油  每箱12瓶   2022/3/7    0  21.4   65  1387.8

## 练习1-1 
    读入city_temperature.csv文件，只要第0,4,6,5,7列，保存在data中

In [11]:
data=pd.read_csv(r".\city_temperature.csv",usecols=[0,4,6,5,7])
data

            City  Month  Day    Year  AvgTemperature
0        Algiers      1    1  1995.0            64.2
1        Algiers      1    2  1995.0            49.4
2        Algiers      1    3  1995.0            48.8
3        Algiers      1    4  1995.0            46.4
4        Algiers      1    5  1995.0            47.9
...          ...    ...  ...     ...             ...
1048570   Muscat      2    7  1999.0           -99.0
1048571   Muscat      2    8  1999.0           -99.0
1048572   Muscat      2    9  1999.0           -99.0
1048573   Muscat      2   10  1999.0           -99.0
1048574   Muscat      2   11  1999.0           -99.0

[1048575 rows x 5 columns]

#### 例1-6  将df6中的产品名称、单价、订购款，存入out_1.csv文件

In [12]:
df6.to_csv(r'.\out_1.csv',columns=["产品名称","单价","订购款"],encoding='gbk',index=False)

## 练习1-2  
    将练习1-1获得的data中的City、Month、Day、	AvgTemperature存入lx_2.csv

In [13]:
data.to_csv(r'.\lx_2.csv',columns=["City","Month","Day","AvgTemperature"])

# 二、数值统计
### (1) df.describe()方法：获得所有数值型字段的特征值
    非空值个数、均值、标准差、最小值、四分位数、最大值
### (2) df.min()、df.max()、df.median()、df.mode()众数等
### (3) 使用numpy的统计函数

In [14]:
# 显示df6的各数值型字段非空值个数、均值、标准差、最小值、四分位数、最大值
df6.describe()

             产品号         库存量          单价         订购量          订购款
count  77.000000   77.000000   77.000000   77.000000    77.000000
mean   39.000000   40.506494   29.302597   44.675325  1226.725974
std    22.371857   36.147222   33.794978   30.202580  1394.308853
min     1.000000    0.000000    2.500000    0.000000     0.000000
25%    20.000000   15.000000   14.000000   20.000000   420.000000
50%    39.000000   26.000000   20.000000   40.000000   767.300000
75%    58.000000   61.000000   34.800000   70.000000  1465.800000
max    77.000000  125.000000  263.500000  125.000000  7905.000000

In [15]:
#使用pandas的方法求出现频次最大的"生产日期"
df6.loc[:,"生产日期"].mode()                             #众数是在一组数据中,出现次数最多的数据

0    2022/1/31
Name: 生产日期, dtype: object

In [16]:
#使用pandas的方法求"库存量","单价"的中位数
df6[ ["库存量","单价"]  ].median()                          #中位数是按顺序排列的一组数据中居于中间位置的数

库存量    26.0
单价     20.0
dtype: float64

In [17]:
#可以使用numpy的统计函数
import numpy as np
np.min(df6.单价)

np.float64(2.5)

## 练习2-1：
    查看练习1-1读入的data的数值统计信息，各函数举一例

In [ ]:
pd.set_option('display.float_format', lambda x: '%d' % x)  #设置全局显示选项，避免科学记数法，显示为整数
print(data.describe())
print(data["Day"].mode())
print(data[["Month","Day"]].median())
print(np.min(data.AvgTemperature))

        Month     Day    Year  AvgTemperature
count 1048575 1048575 1048574         1048574
mean        6      15    2006              54
std         3       8      36              40
min        -1       1     200             -99
25%         3       8    2000              48
50%         6      16    2007              64
75%         9      23    2013              78
max        12      38    2020             110
0    3
Name: Day, dtype: int64
Month    6
Day     16
dtype: float64
-99.0

# 三、排序
1. 按行或列索引排序：

    sort_index(axis=0, ascending=True, inplace=False) 
2. 按值排序：

    DataFrame.sort_values(by, axis=0,ascending=True, inplace=False, na_position='last')

In [25]:
#将df6中的数据按列标签升序排序
df=pd.read_csv(r'.\buy_record.csv',encoding="ANSI")
df.sort_index(axis=1)

,amount,category,date of manufacture,name,no,order,price,storage,unit quantity
0,216,饮料,2022/1/13,苹果汁,1,12,18,39,每箱24瓶
1,1560,奶类,2022/2/10,牛奶,2,40,39,17,每箱24瓶
2,700,调料,2022/3/12,蕃茄酱,3,70,10,13,每箱12瓶
3,902,调料,2022/2/11,盐,4,41,22,53,每箱12瓶
4,1387,粮油,2022/3/7,麻油,5,65,21,0,每箱12瓶
...,...,...,...,...,...,...,...,...,...
72,600,海鲜,2022/2/10,海哲皮,73,40,15,101,每袋3公斤
73,200,调料,2022/1/21,鸡精,74,20,10,4,每盒24个
74,0,饮料,2022/1/1,浓缩咖啡,75,0,7,125,每箱24瓶
75,0,饮料,2022/1/1,柠檬汁,76,0,18,57,每箱24瓶
76,0,调料,2022/1/1,辣椒粉,77,0,13,32,每袋3公斤

In [26]:
#将df中的数据按行标签降序排序
df.sort_index(axis=0,ascending=False).head()

,no,name,category,unit quantity,date of manufacture,storage,price,order,amount
76,77,辣椒粉,调料,每袋3公斤,2022/1/1,32,13,0,0
75,76,柠檬汁,饮料,每箱24瓶,2022/1/1,57,18,0,0
74,75,浓缩咖啡,饮料,每箱24瓶,2022/1/1,125,7,0,0
73,74,鸡精,调料,每盒24个,2022/1/21,4,10,20,200
72,73,海哲皮,海鲜,每袋3公斤,2022/2/10,101,15,40,600

In [27]:
#按库存量storage的降序排序,只显示最多的8个
df.sort_values(by="storage",ascending=False).head(8)

,no,name,category,unit quantity,date of manufacture,storage,price,order,amount
74,75,浓缩咖啡,饮料,每箱24瓶,2022/1/1,125,7,0,0
39,40,虾米,海鲜,每袋3公斤,2022/2/2,123,18,32,588
5,6,酱油,调料,每箱12瓶,2022/2/23,120,25,53,1325
54,55,鸭肉,肉食,每袋3公斤,2022/2/28,115,24,58,1392
60,61,海鲜酱,调料,每箱24瓶,2022/5/6,113,28,125,3562
32,33,浪花奶酪,奶类,每箱12瓶,2022/4/1,112,2,90,225
35,36,鱿鱼,海鲜,每袋3公斤,2022/1/31,112,19,30,570
33,34,啤酒,饮料,每箱24瓶,2022/3/2,111,14,60,840

In [28]:
#category的升序,price的降序排序，原地排序
df.sort_values(by=["category","price"],ascending=[True,False],inplace=True)   #多重排序，原地修改
df.head(20)

,no,name,category,unit quantity,date of manufacture,storage,price,order,amount
58,59,苏澳奶酪,奶类,每箱24瓶,2022/3/23,79,55,81,4455
1,2,牛奶,奶类,每箱24瓶,2022/2/10,17,39,40,1560
11,12,德国奶酪,奶类,每箱12瓶,2022/1/21,86,38,20,760
68,69,黑奶酪,奶类,每盒24个,2022/1/1,26,36,0,0
71,72,酸奶酪,奶类,每箱2个,2022/1/1,14,34,0,0
59,60,花奶酪,奶类,每箱24瓶,2022/2/21,19,34,51,1734
31,32,白奶酪,奶类,每箱12瓶,2022/2/10,9,32,40,1280
70,71,义大利奶酪,奶类,每箱2个,2022/4/3,26,21,92,1978
10,11,民众奶酪,奶类,每袋6包,2022/1/31,22,21,30,630
30,31,温馨奶酪,奶类,每箱12瓶,2022/3/12,0,12,70,875
32,33,浪花奶酪,奶类,每箱12瓶,2022/4/1,112,2,90,225
17,18,墨鱼,海鲜,每袋500克,2022/3/17,42,62,75,4687
9,10,蟹,海鲜,每袋500克,2022/1/15,31,31,14,434
36,37,干贝,海鲜,每袋3公斤,2022/2/20,11,26,50,1300
29,30,黄鱼,海鲜,每袋3公斤,2022/3/22,10,25,80,2071
35,36,鱿鱼,海鲜,每袋3公斤,2022/1/31,112,19,30,570
39,40,虾米,海鲜,每袋3公斤,2022/2/2,123,18,32,588
72,73,海哲皮,海鲜,每袋3公斤,2022/2/10,101,15,40,600
57,58,海参,海鲜,每袋3公斤,2022/3/2,62,13,60,795
45,46,蚵,海鲜,每袋3公斤,2022/2/20,95,12,50,600

In [29]:
#将产品名称name设置为行索引，按牛奶行的值排序
df1=df.copy()
df1.set_index("name",inplace=True)                #原地修改df1，设置产品名称为行索引标签
df2=df1[["no","storage","price","order","amount"]]    #只取订购表的数值字段，保存在df2中
df2.sort_values(by='牛奶',axis=1)                     #按“牛奶”行的数据值升序排序

      no  storage  price  order  amount
name
苏澳奶酪  59       79     55     81    4455
牛奶     2       17     39     40    1560
德国奶酪  12       86     38     20     760
黑奶酪   69       26     36      0       0
酸奶酪   72       14     34      0       0
...   ..      ...    ...    ...     ...
苏打水   70       15     15     10     150
啤酒    34      111     14     60     840
矿泉水   67       52     14      0       0
浓缩咖啡  75      125      7      0       0
汽水    24       20      4     22      99

[77 rows x 5 columns]